<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>全国招聘岗位就业可视化系统</title>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/echart3.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script src="../static/js/china.js"></script>
        <script src="../static/js/echarts-wordcloud.js"></script>
        <link href="../static/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="title">全国招聘岗位就业可视化系统</div>
        <div id="time">我是时间</div>
        <div id="l1"></div>
        <div id="l2"></div>
        <div id="c1">
            <div class="num">
                <h1>数据</h1>
            </div>
            <div class="num">
                <h1>薪资</h1>
            </div>
            <div class="num">
                <h1>省份</h1>
            </div>
            <div class="num">
                <h1>学历</h1>
            </div>
            <div class="txt">
                <h2>数据量(条)</h2>
            </div>
            <div class="txt">
                <h2>薪资(千/月)</h2>
            </div>
            <div class="txt">
                <h2>热门省份</h2>
            </div>
            <div class="txt">
                <h2>最多学历</h2>
            </div>
        </div>
        <div id="c2"></div>
        <div id="r1"></div>
        <div id="r2"></div>
        <script src="../static/js/center.js"></script>
        <script src="../static/js/left1.js"></script>
        <script src="../static/js/left2.js"></script>
        <script src="../static/js/right1.js"></script>
        <script src="../static/js/right2.js"></script>
        <script src="../static/js/controller.js"></script>
    </body>
</html>
